@import "tailwindcss";

:root {
  --foreground: 0 0% 9%;
  --primary: 156 54% 53%;
  --primary-hover: 156 54% 43%;
  --primary-bg: 0 0% 100%;
}

.dark {
  --foreground: 0 0% 100%;
  --primary: 156 54% 53%;
  --primary-hover: 156 54% 43%;
  --primary-bg: 222 47% 11%;
}

@theme inline {
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-hover: hsl(var(--primary-hover));
  --color-primary-bg: hsl(var(--primary-bg));
}

body {
  background-color: hsl(var(--primary-bg));
  color: hsl(var(--foreground));
}
